/*algemenen code*/
.verborgen {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    left: -10000px;
}

h2 {
    text-align: center;
    color: white;
    font-weight: bolder;
    border: 5px solid darkgrey;
}

* {
    box-sizing: border-box;
}

body {
    margin: auto;
    width: 99%;
}

/* grid voor contact pagina, FAQ pagina en productoverzicht/detail pagina  */
.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
    'gheader'
    'gmain';

    grid-template-columns: 1fr;
    height: 97vh;
    grid-template-rows: 1fr 12fr;

}

.grid-header {
    grid-area: gheader;
    background-color: black;
    text-align: center;
    padding: 5px;
    border-radius: 5px;

}

.grid-main {
    grid-area: gmain;
    background-color: gray;
    padding: 5px 0 0 5px;
    border-radius: 5px;
}

/*
menu opmaak
 */
nav ul {
    padding: 0;
}

nav ul li {
    display: inline-block;
    padding: 0 29px;
}

nav ul li a {
    color: white;
    border-radius: 2px;
    text-decoration: none;
}

a:hover {
    color: lightskyblue;

}

/*
opmaak voor submenu
 */
.submenu ul {
    display: none;
    position: absolute;
    padding: 0;
    border-radius: 5px;
    width: 100px;
}

.submenu ul li a:before {
    content: '+';
    padding: 5px;
}

.submenu ul li a {
    display: flex;
    color: black;
}

.submenu ul li a:hover {
    color: lightskyblue;
}

.submenu:hover ul {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

.submenu {

}

.submenu ul li {
    padding: 1px 10px 5px 0;
    width: 50%;

}

/*
aanduiden waar je op de pagina bent
 */
.current {
    color: lightskyblue;
}

/*index*/
.flex1 {
    display: inline-flex;
    flex-direction: column;
    max-width: 510px;
    padding: 18px;
    grid-area: flex1;
    grid-column-start: 1;
    grid-column-end: 2;
}

.flex2 {
    display: inline-flex;
    flex-direction: column;
    max-width: 510px;
    padding: 18px;
    grid-area: flex2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.flex3 {
    display: inline-flex;
    flex-direction: column;
    max-width: 510px;
    padding: 18px;
    grid-area: flex3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.index-grid {
    display: grid;
    grid-row-gap: 10px;
    grid-template-areas:
    'gheader'
    'gmain';

    grid-template-columns: 1fr;
    height: 97vh;
    grid-template-rows: 1fr 12fr;
}

.index-header {
    grid-area: gheader;
    background-color: black;
    text-align: center;
}

.index-main {
    display: grid;
    grid-area: gmain;
    background-color: gray;
    padding-bottom: 10px;
    justify-content: space-evenly;
    grid-template-areas:
    'flex1 flex2 flex3';
}

/* hier komt product detail pagina*/
.breadcrumbs {
    border-radius: 0.3rem;
    display: inline-flex;
}

.breadcrumbs__item {
    color: white;
    outline: none;
    padding: 5px 5px 1px 15px;
    position: relative;
    text-decoration: none;
    transition: background 0.2s linear;
    font-weight: bold;
}

.breadcrumbs__item:hover:after,
.breadcrumbs__item:hover {
    background: white;
}

.breadcrumbs__item:after,
.breadcrumbs__item:before {
    background: black;
    bottom: 0;
    clip-path: polygon(50% 50%, -50% -50%, 0 100%);
    content: "";
    left: 100%;
    position: absolute;
    top: 0;
    transition: background 0.2s linear;
    width: 1em;
    z-index: 1;
}

.breadcrumbs__item:before {
    background: white;
    margin-left: 1px;
}

/*
grid voor de productdetail pagina
 */
.detail-grid {
    display: grid;
    grid-template-areas:
    'foto eigenschappen'
    'omschrijving .';
    grid-gap: 10px;
    width: 100%;
    height: auto;
    justify-content: center;

}

.eigenschappen {
    grid-area: eigenschappen;
    margin: 40px;
}

.detail-grid img {
    grid-area: foto;
    width: 50em;
    height: auto;
    max-width: 100%;
}

.detail-grid h2 {
    grid-area: omschrijving;
}

/*FAO*/
dl {
    text-align: center;
    font-size: 20px;
}

dt {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;

}

dd {
    min-height: 2em;
    max-width: 70em;
    margin: auto;
}

/*contact gegevens grid in main*/
.contactgegevens {
    display: grid;
    grid-gap: 10px;
    padding-right: 10px;
    grid-template-areas:
    'h2contactgegevens h2contactgegevens'
    'naam adres'
    'email adres'
    'telefoon adres';

    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0fr 1fr 1fr 1fr;
}

.contactgegevens h2 {
    grid-area: h2contactgegevens;
    margin: 0;
}

#naam {
    grid-area: naam;
    padding-left: 100px;
    margin-right: 0;
}

#email {
    grid-area: email;
    padding-left: 100px;
    margin-right: 0;

}

#telefoon {
    grid-area: telefoon;
    padding-left: 100px;
    margin-right: 0;

}

#adres {
    grid-area: adres;
    margin: 0;

}

/*
opmaak van de contactgegevens
 */
.contactgegevens section img {
    width: 60%;
}

.contactgegevens section {
    text-align: center;
    margin: 10px;
    height: 50%;
}

.contactgegevens section p {
    font-size: 20px;

}


/*formulier*/
#formulier {
    max-width: 50em;
    margin: 50px auto auto auto;
    font-size: 20px;
}

.gegevensPersoon {
    background-color: white;
    border-radius: 5px;
}

.gegevensProduct {
    background-color: white;
    border-radius: 5px;
}

.legend {
    background-color: black;
    color: white;
    border-radius: 5px;
}

#formulier .gegevensPersoon label {
    display: inline-block;
    width: 400px;
    margin-top: 10px;
}

#formulier .gegevensProduct label {
    display: inline-block;
    width: 600px;
    margin-top: 10px;
}

#formulier .gegevensPersoon input {
    display: inline-block;
    width: 200px;
    margin-top: 10px;
}

/*
grid voor personaliserings pagina
 */
.personalisering-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
    ' gheader gheader gheader'
    '. gmain . ';

    grid-template-rows: 1fr 12fr;
}

.personalisering-grid-header {
    grid-area: gheader;
    background-color: black;
    text-align: center;
    padding: 5px;
    border-radius: 5px;

}

.personalisering-grid-main {
    grid-area: gmain;
    background-color: gray;
    padding: 5px 0 0 5px;
    border-radius: 5px;
}

/*
fout bericht voor M7
 */
span {

}

#naamfout {
    color: red;
    display: block;
    font-size: 80%;
}

#emailfout {
    color: red;
    display: block;
    font-size: 80%;
}

#verzendenfout {
    color: red;
    display: block;
    font-size: 80%;
}

/*
dit is ook voor M7
 */
input::before:focus {
    background-color: yellow;
}

/*producten pagina*/

/*

/*Dynamische knop*/

#Dynamische {
    background-color: white;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    padding: 0 5px;
    font-size: 20px;
}


/*
een column voor elke categorie
 */
.column {
    display: inline-block;
    padding: 0;
}

/*
opmaak tekst voor product naam en prijs
 */
.column p {
    background-color: white;
    font-size: 80%;
    margin: 0;
}

.row h4 {
    background-color: white;
    margin: 0;
    width: 160px;
}

/*
opmaak voor elk product
 */
.card {
    padding: 3px;
    text-align: center;
    max-width: 175px;
}

.card img {
    max-width: 160px;
    border: 5px solid black;
    background-color: white;
}

/*
opmaak voor titels van categorie
 */
.producten h3 {
    background-color: #f1f1f1;
    width: 10em;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 0;
}

/*filter voor type*/
input[type="radio"][id="normaal"]:checked ~ section .ergonomic,
input[type="radio"][id="normaal"]:checked ~ section .opvouwbaar {
    display: none;
}

input[type="radio"][id="opvouwbaar"]:checked ~ section .ergonomic,
input[type="radio"][id="opvouwbaar"]:checked ~ section .normaal {
    display: none;
}

input[type="radio"][id="ergonomic"]:checked ~ section .normaal,
input[type="radio"][id="ergonomic"]:checked ~ section .opvouwbaar {
    display: none;
}

/*filter voor grootte*/
input[type="radio"][id="compact"]:checked ~ section .fullSize {
    display: none;
}

input[type="radio"][id="FullSize"]:checked ~ section .compact {
    display: none;
}

/*filter voor lichten*/
input[type="radio"][id="RBG"]:checked ~ section .blauwe,
input[type="radio"][id="RBG"]:checked ~ section .groene,
input[type="radio"][id="RBG"]:checked ~ section .rode,
input[type="radio"][id="RBG"]:checked ~ section .geenLichten {
    display: none;
}

input[type="radio"][id="blauwe"]:checked ~ section .RBG,
input[type="radio"][id="blauwe"]:checked ~ section .groene,
input[type="radio"][id="blauwe"]:checked ~ section .rode,
input[type="radio"][id="blauwe"]:checked ~ section .geenLichten {
    display: none;
}

input[type="radio"][id="groene"]:checked ~ section .blauwe,
input[type="radio"][id="groene"]:checked ~ section .RBG,
input[type="radio"][id="groene"]:checked ~ section .rode,
input[type="radio"][id="groene"]:checked ~ section .geenLichten {
    display: none;
}

input[type="radio"][id="rode"]:checked ~ section .blauwe,
input[type="radio"][id="rode"]:checked ~ section .groene,
input[type="radio"][id="rode"]:checked ~ section .RBG,
input[type="radio"][id="rode"]:checked ~ section .geenLichten {
    display: none;
}

input[type="radio"][id="geenLichten"]:checked ~ section .blauwe,
input[type="radio"][id="geenLichten"]:checked ~ section .groene,
input[type="radio"][id="geenLichten"]:checked ~ section .rode,
input[type="radio"][id="geenLichten"]:checked ~ section .RBG {
    display: none;
}

/*
reset knop voor elke filter
 */
input[type="radio"][id="resetType"]:checked section .normaal,
input[type="radio"][id="resetType"]:checked section .ergonomic,
input[type="radio"][id="resetType"]:checked section .opvouwbaar {
    display: inline-block;
}

input[type="radio"][id="resetGrootte"]:checked section .fullSize,
input[type="radio"][id="resetGrootte"]:checked section .compact {
    display: inline-block;
}

input[type="radio"][id="resetLichten"]:checked section .RBG,
input[type="radio"][id="resetLichten"]:checked section .RBG,
input[type="radio"][id="resetLichten"]:checked section .blauwe,
input[type="radio"][id="resetLichten"]:checked section .groene,
input[type="radio"][id="resetLichten"]:checked section .rode,
input[type="radio"][id="resetLichten"]:checked section .geenLichten {
    display: inline-block;
}

/*filter opmaak */
.producten input {
    display: none;
}

.producten label {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 5px 0 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}

#filter {
    float: right;
    display: inline-block;
    border: 5px solid black;
    padding: 3px 30px 1px 10px;
    color: black;
}

.filterType {
    margin: 5px 0 5px 0;
}

.filtergrootte {
    margin: 5px 0 5px 0;

}

.filterLichten {
    margin: 5px 0 5px 0;
}

/*
hover effect van filters
 */
.producten label:hover {
    background-color: white;
    color: black;
}

/*
filter verandert van kleur wanneer het actief is
 */
#resetType:checked ~ #filter .resetTypeLabel {
    background-color: white;
    color: black;
}

#resetGrootte:checked ~ #filter .resetGrootteLabel {
    background-color: white;
    color: black;
}

#resetLichten:checked ~ #filter .resetLichtenLabel {
    background-color: white;
    color: black;
}

#opvouwbaar:checked ~ #filter .opvouwbaarLabel {
    background-color: white;
    color: black;
}

#ergonomic:checked ~ #filter .ergonomicLabel {
    background-color: white;
    color: black;
}

#normaal:checked ~ #filter .normaalLabel {
    background-color: white;
    color: black;
}

#compact:checked ~ #filter .compactLabel {
    background-color: white;
    color: black;
}

#FullSize:checked ~ #filter .fullSizeLabel {
    background-color: white;
    color: black;
}

#RBG:checked ~ #filter .RBGlabel {
    background-color: white;
    color: black;
}

#blauwe:checked ~ #filter .blauweLabel {
    background-color: white;
    color: black;
}

#groene:checked ~ #filter .groeneLabel {
    background-color: white;
    color: black;
}

#rode:checked ~ #filter .rodeLabel {
    background-color: white;
    color: black;
}

#geenLichten:checked ~ #filter .geenLichtenLabel {
    background-color: white;
    color: black;
}

/*
bevestings pagina
 */
.IngevuldeInformatie {
    text-align: center;
}

.IngevuldeInformatie h4 {
    margin: 10px 0 10px 0;
}

@media screen and (max-width: 605px) {

    .grid {
        height: unset;
        grid-template-rows: unset;

    }

    .index-grid {
        height: unset;
    }

    /*
    menu verticaal maken
     */
    nav ul li {
        display: block;
        padding: 0 90px;
    }

    /*
  submenu naast de menu laten zetten
   */
    #filter {
        float: none;
    }

    /*
     index main grid items onder elkaar laten verschijnen
     */
    .flex1 {
        display: inline-flex;
        flex-direction: column;
        max-width: 510px;
        padding: 18px;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .flex2 {
        display: inline-flex;
        flex-direction: column;
        max-width: 510px;
        padding: 18px;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .flex3 {
        display: inline-flex;
        flex-direction: column;
        max-width: 510px;
        padding: 18px;
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    /*
    FAQ links laten verschijnen
     */
    dl {
        text-align: left;
    }

    dt {
        border: 1px solid black;
        border-radius: 5px;
        display: inline-block;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    dd {
        margin: auto;
    }

    /*
    contactgegevens onder elkaar laten zetten
     */
    .contactgegevens {
        display: grid;
        text-align: center;
        grid-gap: 10px;
        padding-right: 10px;
        grid-template-areas:
    'h2contactgegevens'
    'naam'
    'email'
    'telefoon'
    'adres';

        grid-template-columns: unset;
        grid-template-rows: unset;
    }

    .contactgegevens section img {
        max-height: 350px;
    }

    .detail-grid {
        display: grid;
        grid-template-areas:
        'foto'
        'omschrijving'
        'eigenschappen';
        grid-gap: 10px;
    }

    .detail-grid img {
        width: 100%;
    }

    /*
    formulier labels
     */
    #formulier .gegevensPersoon label {
        width: 200px;
    }

    #formulier .gegevensProduct label {
        width: 400px;
    }

    #naam {
        padding-left: 0;
        margin-right: 0;
    }

    #email {
        padding-left: 0;
        margin-right: 0;

    }

    #telefoon {
        padding-left: 0;
        margin-right: 0;

    }

    .card {
        padding: 0 0 0 46px;
        text-align: center;
        max-width: unset;
    }

    .personalisering-grid-main {
        width: 96%
    }

    .gegevensProduct {
        padding: 0;
    }

    .gegevensPersoon {
        padding: 0;
    }

}

@media screen and (max-width: 750px) {

    .grid {
        height: unset;
        grid-template-rows: unset;

    }

    .index-grid {
        height: unset;
    }

    /*
    menu verticaal maken
     */
    nav ul li {
        display: block;
        padding: 0 90px;
    }

    /*
  submenu naast de menu laten zetten
   */
    #filter {
        float: none;
    }

    /*
     index main grid items onder elkaar laten verschijnen
     */
    .flex1 {
        display: inline-flex;
        flex-direction: column;
        max-width: 510px;
        padding: 18px;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .flex2 {
        display: inline-flex;
        flex-direction: column;
        max-width: 510px;
        padding: 18px;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .flex3 {
        display: inline-flex;
        flex-direction: column;
        max-width: 510px;
        padding: 18px;
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    /*
    FAQ links laten verschijnen
     */
    dl {
        text-align: left;
    }

    dt {
        border: 1px solid black;
        border-radius: 5px;
        display: inline-block;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    dd {
        margin: auto;
    }

    /*
    contactgegevens onder elkaar laten zetten
     */
    .contactgegevens {
        display: grid;
        text-align: center;
        grid-gap: 10px;
        padding-right: 10px;
        grid-template-areas:
    'h2contactgegevens'
    'naam'
    'email'
    'telefoon'
    'adres';

        grid-template-columns: unset;
        grid-template-rows: unset;
    }

    .contactgegevens section img {
        max-height: 350px;
    }

    .detail-grid {
        display: grid;
        grid-template-areas:
        'foto'
        'omschrijving'
        'eigenschappen';
        grid-gap: 10px;
    }

    .detail-grid img {
        width: 100%;
    }

    /*
    formulier labels
     */
    #formulier .gegevensPersoon label {
        width: 200px;
    }

    #formulier .gegevensProduct label {
        width: 400px;
    }

    #naam {
        padding-left: 0;
        margin-right: 0;
    }

    #email {
        padding-left: 0;
        margin-right: 0;

    }

    #telefoon {
        padding-left: 0;
        margin-right: 0;

    }

    .card {
        padding: 0 0 0 46px;
        text-align: center;
        max-width: unset;
    }

    .personalisering-grid-main {
        width: 96%
    }

    .gegevensProduct {
        padding: 0;
    }

    .gegevensPersoon {
        padding: 0;
    }

    #formulier .gegevensPersoon input {
        width: 271px;
    }
}

@media screen and (min-width: 2000px ) {
    /*
    main en nav vergroten
     */
    .index-main {
        font-size: 130%;
    }

    .flex1 {
        max-width: 600px;
    }

    .flex2 {
        max-width: 600px;
    }

    .flex3 {
        max-width: 600px;
    }

    nav ul li {
        font-size: 110%;
    }

    nav {
        font-size: 100%;
    }

    .submenu ul {
        width: 120px;
    }

    /*
    producten
     */
    .grid-main {
        font-size: 100%;
    }

    #Dynamische {
        font-size: 120%;
    }

    /*
    faq
     */
    dl * {
        font-size: 110%;
    }

    /*
    contact
     */
    .contactgegevens {
        font-size: 110%;
    }

    .contactgegevens section p {
        font-size: 110%;
    }

    /*
    productdetail
     */
    .breadcrumbs__item {
        font-size: 112%;
    }

    /*
    personalisering
     */
    #formulier .gegevensPersoon {
        font-size: 160%;
    }

    input {
        font-size: 65%;
    }

    #QWERTY {
        transform: scale(1.5);
    }

    #AZERTY {
        transform: scale(1.5);
    }

    #personalisering {
        font-size: 115%;
    }

    #kiesJeProduct {
        font-size: 70%;
    }

    #info {
        font-size: 55%;
    }

    #Verzenden {
        font-size: 70%;
        width: 7%;
    }

    .column p {
        font-size: 80%;
    }

    .row h4 {
        width: 250px;
    }

    /*
    opmaak voor elk product
     */
    .card {
        padding: 0;
        max-width: 250px;
    }

    .card img {
        max-width: 140px;
    }
}


/*
75%
 */
@media screen and (min-width: 2300px ) {
    /*
    main en nav vergroten
     */
    .index-main {
        font-size: 160%;
    }

    nav ul li {
        font-size: 140%;
    }

    nav {
        font-size: 100%;
    }

    .submenu ul {
        font-size: 80%;
        width: 150px;
    }

    /*
    producten
     */
    .grid-main {
        font-size: 140%;
    }

    #Dynamische {
        font-size: 130%;

    }

    /*
    faq
     */
    dl * {
        font-size: 140%;
    }

    /*
    contact
     */
    .contactgegevens {
        font-size: 110%;
    }

    .contactgegevens section p {
        font-size: 105%;
    }

    /*
    productdetail
     */
    .breadcrumbs__item {
        font-size: 150%;
    }

    /*
    personalisering
     */
    #formulier .gegevensPersoon {
        font-size: 155%;
    }

    input {
        font-size: 110%;
    }

    #personalisering {
        font-size: 120%;
    }

    #kiesJeProduct {
        font-size: 90%;
    }

    #Verzenden {
        font-size: 110%;
    }

    .column p {
        font-size: 110%;
    }

    .row h4 {
        width: 300px;
    }

    /*
    opmaak voor elk product
     */
    .card {
        padding: 5px;
        max-width: 500px;
    }

    .card img {
        width: 300px;
        transform: scale(1.1);
    }
}


/*
67%
 */
@media screen and (min-width: 2600px ) {
    /*
   main en nav vergroten
    */
    .index-main {
        font-size: 170%;
    }

    .flex1 {
        max-width: 800px;
    }

    .flex2 {
        max-width: 800px;
    }

    .flex3 {
        max-width: 800px;
    }

    nav ul li {
        font-size: 150%;
    }

    nav {
        font-size: 130%;
    }

    .submenu ul {
        font-size: 50%;
        width: 150px;
    }

    /*
    producten
     */
    .grid-main {
        font-size: 150%;
    }

    #Dynamische {
        font-size: 130%;

    }

    /*
    faq
     */
    dl * {
        font-size: 150%;
    }

    /*
    contact
     */
    .contactgegevens {
        font-size: 115%;
    }

    .contactgegevens section p {
        font-size: 105%;
    }

    /*
    productdetail
     */
    .breadcrumbs__item {
        font-size: 200%;
        padding: 5px 5px 1px 30px;
    }

    /*
    personalisering
     */
    #formulier {
        font-size: 130%;
    }

    input {
        font-size: 90%;
    }

    #personalisering {
        font-size: 120%;
    }

    #kiesJeProduct {
        font-size: 100%;
    }

    #Verzenden {
        font-size: 100%;
        width: 7%;
    }

    .column p {
        font-size: 120%;
    }

    .row h4 {
        width: 400px;
    }

    /*
    opmaak voor elk product
     */
    .card {
        padding: 0;
        max-width: 500px;
    }

    .card img {
        width: 500px;
        transform: scale(1);
    }

}


@media screen and (min-width: 3000px ) {
    /*
    main en nav vergroten
     */
    .index-main {
        font-size: 220%;
    }

    .flex1 {
        max-width: 1000px;
    }

    .flex2 {
        max-width: 1000px;
    }

    .flex3 {
        max-width: 1000px;
    }

    nav ul li {
        font-size: 250%;
    }

    .submenu ul {
        font-size: 35%;
        width: 300px;

    }

    /*
    producten
     */
    .grid-main {
        font-size: 200%;
    }

    #Dynamische {
        font-size: 130%;

    }

    /*
    faq
     */
    dl * {
        font-size: 200%;
    }

    /*
    contact
     */
    .contactgegevens {
        font-size: 110%;
    }

    .contactgegevens section p {
        font-size: 110%;
    }

    /*
    productdetail
     */
    .breadcrumbs__item {
        font-size: 220%;
    }

    /*
    personalisering
     */
    #formulier {
        font-size: 200%;
    }

    input {
        font-size: 70%;
    }

    #kleur {
        transform: scale(1);
    }

    #QWERTY {
        transform: scale(2);
    }

    #AZERTY {
        transform: scale(2);
    }

    #personalisering {
        font-size: 115%;
    }

    #kiesJeProduct {
        font-size: 70%;
    }

    #info {
        font-size: 55%;
    }

    #Verzenden {
        font-size: 70%;
        width: 7%;
    }

    /*
    voor productoverzicht
     */
    .column p {
        font-size: 120%;
    }

    .row h4 {
        width: 400px;
    }

    /*
    opmaak voor elk product
     */
    .card {
        padding: 10px;
        max-width: 500px;
    }

    .card img {
        max-width: 200px;
    }

}

@media screen and (min-width: 4000px ) {
    /*
    main en nav vergroten
     */
    .index-main {
        font-size: 340%;
    }

    .flex1 {
        max-width: 1000px;
    }

    .flex2 {
        max-width: 1000px;
    }

    .flex3 {
        max-width: 1000px;
    }

    nav ul li {
        font-size: 250%;
    }

    .submenu ul {
        font-size: 35%;
        width: 300px;

    }

    /*
    producten
     */
    .grid-main {
        font-size: 200%;
    }

    #Dynamische {
        font-size: 100%;
    }

    /*
    faq
     */
    dl * {
        font-size: 200%;
    }

    /*
    contact
     */
    .contactgegevens {
        font-size: 110%;
    }

    .contactgegevens section p {
        font-size: 110%;
    }

    /*
    productdetail
     */
    .breadcrumbs__item {
        font-size: 220%;
    }

    /*
    personalisering
     */
    #formulier {
        font-size: 200%;
    }

    input {
        font-size: 70%;
    }

    #kleur {
        transform: scale(1);
    }

    #QWERTY {
        transform: scale(2);
    }

    #AZERTY {
        transform: scale(2);
    }

    #personalisering {
        font-size: 115%;
    }

    #kiesJeProduct {
        font-size: 70%;
    }

    #info {
        font-size: 55%;
    }

    #Verzenden {
        font-size: 70%;
        width: 7%;
    }

    /*
    voor productoverzicht
     */
    .column p {
        font-size: 120%;
    }

    .row h4 {
        width: 400px;
    }

    /*
    opmaak voor elk product
     */
    .card {
        padding: 10px;
        max-width: 500px;
    }

    .card img {
        width: 500px;
        transform: scale(1.1);
    }

}

@media screen and (min-width: 6400px ) {
    /*
    main en nav vergroten
     */
    .index-main {
        font-size: 400%;
    }

    .flex1 {
        max-width: 1400px;
    }

    .flex2 {
        max-width: 1400px;
    }

    .flex3 {
        max-width: 1400px;
    }

    nav ul li {
        font-size: 400%;
    }

    .submenu ul {
        font-size: 20%;
        width: 400px;

    }

    /*
    producten
     */
    .grid-main {
        font-size: 400%;
    }

    #Dynamische {
        font-size: 100%;
    }

    /*
    faq
     */
    dl * {
        font-size: 400%;
    }

    /*
    contact
     */
    .contactgegevens {
        font-size: 120%;
    }

    .contactgegevens section p {
        font-size: 110%;
    }

    /*
    productdetail
     */
    .breadcrumbs__item {
        font-size: 400%;
        padding: 5px 5px 1px 30px;
    }

    /*
    personalisering
     */
    #formulier {
        font-size: 400%;
    }

    input {
        font-size: 70%;
    }

    #kleur {
        transform: scale(2);
        margin-right: 30px;
    }

    #QWERTY {
        transform: scale(3);
        margin-right: 30px
    }

    #AZERTY {
        transform: scale(3);
        margin-right: 30px
    }

    #personalisering {
        font-size: 120%;
    }

    #afhalen {
        transform: scale(3);
    }

    #kiesJeProduct {
        font-size: 70%;
    }

    #info {
        font-size: 55%;
    }

    #Verzenden {
        font-size: 100%;
        width: 10%;
    }

    #formulier .gegevensPersoon label {
        display: inline-block;
        width: 700px;
        margin-top: 10px;
    }

    #formulier .gegevensPersoon input {
        display: inline-block;
        width: unset;
        margin-top: 10px;
    }

    #formulier .gegevensProduct label {
        display: inline-block;
        width: 600px;
    }

    #formulier .gegevensPersoon {
        font-size: 100%;
    }

    /*
    voor productoverzicht
     */
    .column p {
        font-size: 120%;
    }

    .row h4 {
        width: 600px;
    }

    /*
    opmaak voor elk product
     */
    .card {
        padding: 20px;
        max-width: 700px;
    }

    .card img {
        max-width: 300px;

    }
    #filter {
        border: 20px solid black;

    }


}
